.custom-modal {
    --width: 90vw;  /* Ajusta el ancho al 90% del viewport */
    --height: 90vh; /* Ajusta la altura al 90% del viewport */
  }
  
  .custom-modal .ion-content {
    padding: 16px; /* Aumenta el espaciado interno */
  }
  