.logo {
  width: 350px;
  height: auto;
  padding: 50px;
  background-color: white;
  border-radius: 10%;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
  background-color: #E4FEFF;
  border-radius: 20px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

ion-icon{
  color: #616161;
}

b{
  color: black;
}

.button-blue{
  --background: #E4FEFF;
  --background-activated: rgb(149, 234, 255);
}

.button-white{
  --background: white;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
}

.button-container{
  background-color: #E4FEFF;
  border-radius: 20px;
  margin-bottom: 10px;
  /*padding: 20px;
  margin-top: 10px;
  max-width: 20%;*/
}

/*.grid-container{
  display: grid;
  grid-template-columns: 2fr 2fr;
}*/

ion-button {
  --border-radius: 10px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ion-grid-padding: 10px;
}
