.logo {
  width: 350px;
  height: auto;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-icon{
  color: #616161;
  margin-top: 10px;
}

b{
  color: black;
}

ion-content{
  --background: #E4FEFF;
}

.content{
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
}

ion-card {
  --background: #E4FEFF;
  margin-top: 25px;
}