<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Santurtzi Logo" class="logo" />
  </div>

  <div>
    <div class="grid-botoiak">
      <ion-button expand="block" class="button-blue">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <b>Hitzorduak</b>
      </ion-button>

      <ion-button expand="block" class="button-blue">
        <ion-icon name="document-text-outline"></ion-icon>
        <b>Txostenak</b>
      </ion-button>

      <div class="button-container">
        <ion-icon name="cube-outline"></ion-icon>
        <b>Inbentarioa</b>

        <div class="botoiak-container">
          <ion-button expand="block" class="button-white">
            <ion-icon name="color-fill-outline"></ion-icon>
            <b>Materialak</b>
          </ion-button>

          <ion-button expand="block" class="button-white">
            <ion-icon name="calendar-number-outline"></ion-icon>
            <b>Produktuak</b>
          </ion-button>
        </div>
      </div>
      <div class="button-container">
        <ion-icon name="cog-outline"></ion-icon>
        <b>Parametrizazioa</b>

        <ion-button expand="block" class="button-white">
          <ion-icon name="albums-outline"></ion-icon>
          <b>Inbentarioa</b>
        </ion-button>

        <ion-button expand="block" class="button-white">
          <ion-icon name="people-outline"></ion-icon>
          <b>Ikasleak</b>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>