<app-header></app-header>
<ion-content class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'materiales.title' | translate }}</ion-title>
      <ion-select slot="end" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="eu">Euskera</ion-select-option>
      </ion-select>
    </ion-toolbar>
    <ion-segment>
      <ion-segment-button value="kudeatu" content-id="kudeatu">
        <ion-label>{{ 'materiales.botones.gestionarMateriales' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bueltatu" content-id="bueltatu">
        <ion-label>{{ 'materiales.botones.devolverMateriales' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  <ion-content [fullscreen]="true">

    <ion-segment-view>
      <ion-segment-content id="kudeatu">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button id="cat-mat-sortu-modal">{{ 'materiales.botones.crearCategoria' | translate }}</ion-button>
          </ion-buttons>
          <ion-buttons slot="start">
            <ion-button id="mat-sortu-modal">{{ 'materiales.botones.agregarMaterial' | translate }}</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button id="atera-modal" [disabled]="materialesSeleccionados.length == 0">{{
              'materiales.botones.sacarMateriales' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-searchbar></ion-searchbar>
        <ng-container *ngFor="let categoria of materialak">
          <!-- Categoría -->
          <ion-item button (click)="toggleCategoria(categoria.izena)">
            <ion-label>{{ categoria.izena }}</ion-label>
            <ion-button slot="end" (click)="abrirEditarCategoria(categoria)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="danger" (click)="kategoriaEzabatu(categoria.id)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-icon [name]="isCategoriaAbierta(categoria.izena) ? 'chevron-up' : 'chevron-down'"
              slot="end"></ion-icon>
          </ion-item>

          <!-- Lista de materiales dentro de la categoría -->
          <ion-list *ngIf="isCategoriaAbierta(categoria.izena)">
            <ion-item *ngFor="let material of categoria.materialak">
              <ion-label> {{ material.izena }}</ion-label>
              <ion-label class="etiketa"> {{ material.etiketa }}</ion-label>
              <ion-checkbox slot="start" [(ngModel)]="material.selected"
                (ionChange)="actualizarMaterialesSeleccionados(material, categoria.id)"></ion-checkbox>
              <ion-button slot="end" (click)="abrirEditarMaterial(material)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button slot="end" color="danger" (click)="materialaEzabatu(material.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ng-container>

      </ion-segment-content>

      <ion-segment-content id="bueltatu">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button id="mat-devolver-modal" [disabled]="materialesSeleccionadosDevolver.length == 0"
              (click)="cargarEditarMaterialesDevolver()">Devolver materiales</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-item>
          <ion-label><strong>Materiala</strong></ion-label>
          <ion-label><strong>Etiketa</strong></ion-label>
          <ion-label><strong>Ikaslea</strong></ion-label>
          <ion-label><strong>Ateratze Data</strong></ion-label>
        </ion-item>
        <ng-container *ngFor="let materiala of materialaDevolver">
          <ion-item>
            <ion-label>{{ materiala.materiala.izena}}</ion-label>
            <ion-label class="etiketa"> {{ materiala.materiala.etiketa}}</ion-label>
            <ion-label class="etiketa"> {{ materiala.langilea.izena}}</ion-label>
            <ion-label class="etiketa"> {{ materiala.hasieraData | date:"short"}}</ion-label>
            <ion-checkbox slot="start" (click)="actualizarMaterialesSeleccionadosDevolver(materiala)"></ion-checkbox>
          </ion-item>
        </ng-container>
      </ion-segment-content>
    </ion-segment-view>

    <!-- Modal para sacar materiales -->
    <ion-modal #modalAteraMat trigger="atera-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="modalAteraMat.dismiss()">
                <ion-icon name="close-circle-outline" color="danger" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>{{ 'materiales.botones.sacarMateriales' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-select [(ngModel)]="selecTaldea" label="Taldea" placeholder="Selecciona a un grupo"
              (ionChange)="onGrupoChange()">
              <ion-select-option *ngFor="let taldea of alumnos" [value]="taldea.kodea">
                {{ taldea.kodea }} : {{ taldea.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="selecAlumno" label="Alumno" placeholder="Selecciona a un alumno">
              <ion-select-option *ngFor="let alumno of filteredAlumnos" [value]="alumno.id">
                {{ alumno.id }} : {{ alumno.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-list>
              <ion-grid>
              <ion-label>Lista de materiales a sacar:</ion-label>
              <ion-row>
              <ion-list expand="full" *ngFor="let mat of materialesSeleccionados">
                <ion-card>
                  <ion-card-header>
                    <ion-label><strong strong>Izena: </strong>{{mat.izena}}</ion-label>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label><strong>Etiketa: </strong>{{mat.etiketa}}</ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-row>
            </ion-grid>
            </ion-list>
          </ion-item>
          <ion-button expand="full" position="fixed" (click)="materialakAtera()">{{ 'materiales.botones.confirmar' |
            translate
            }}</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modalSortuMat trigger="mat-sortu-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="modalSortuMat.dismiss()">
                <ion-icon name="close-circle-outline" color="danger" size="large"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>{{ 'materiales.botones.crearMateriales' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'materiales.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearNombre" placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'materiales.modal.etiqueta' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearEtiqueta" placeholder="Etiqueta"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="crearCategoria" label="Categoria" placeholder="Selecciona una categoria">
              <ion-select-option *ngFor="let cat of materialak" [value]="cat.id">{{cat.izena}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="full" (click)="materialaSortu()" (click)="modalSortuMat.dismiss()">{{
            'materiales.botones.crear' | translate }}</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modalEditar trigger="mat-editar-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'materiales.botones.editarMateriales' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'materiales.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="editarNombre" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'materiales.modal.etiqueta' | translate }}</ion-label>
            <ion-input [(ngModel)]="editarEtiqueta" placeholder="Etiketa"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="editarCategoria" label="Kategoria" placeholder="Selecciona una categoria">
              <ion-select-option *ngFor="let cat of materialak" [value]="cat.id">{{cat.izena}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="materialaEditatu(selectedMateriala.id)"
                  (click)="modalEditar.dismiss()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="modalEditar.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal trigger="cat-mat-sortu-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'materiales.botones.crearCategoria' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">
                <ion-icon name="close-circle-outline" color="danger" size="large">></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'materiales.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearKatNombre" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-button id="open-toast" expand="full" (click)="kategoriaSortu()" (click)="modal.dismiss()">{{
            'materiales.botones.crear' | translate }}</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modaleditarcat trigger="cat-mat-editar-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.editarCategoria' | translate }}</ion-title>
            <ion-buttons slot="end">
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="editarKatNombre" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="kategoriaEditatu(selectedCategory.id)"
                  (click)="modaleditarcat.dismiss()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="modaleditarcat.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modaldevolver trigger="mat-devolver-modal">
      <ion-label>Estas a punto de devolver los siguientes productos:</ion-label>
      <ion-list>

      </ion-list>
      <ion-button>AAAA</ion-button>
    </ion-modal>
  </ion-content>