<ion-header>
  <ion-toolbar>
    <ion-title>Galería</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <swiper-container #swiper (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)" [pagination]="true" [zoom]="true">
    <!-- <ng-container > -->
      <swiper-slide *ngFor="let img of imagenes">
        <div class="swiper-zoom-container" style="display: flex; flex-direction: column; align-items: center;">
          <img [src]="transformarURL(img.url)" style="max-width: 100%; max-height: 70vh;" />
          <p *ngIf="img.data">{{ img.data }}</p>
        </div>
      </swiper-slide>
    <!-- </ng-container> -->
  </swiper-container>
</ion-content>
