<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ "citas.titulo" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="flexbox">
        <div>
          <ion-item>
            <ion-label position="stacked">{{ "citas.modal.fecha" | translate }}</ion-label>
            <ion-input [(ngModel)]="dataSelec" type="date" placeholder="Fecha" (ngModelChange)="cargar_dia_seleccionado()"></ion-input>
          </ion-item>
          <div class="table-container">
            <table class="h-100 w-100" *ngIf="!loading">
              <thead>
                <tr>
                  <th>{{ "citas.horas" | translate }}</th>
                  <th *ngFor="let i of [].constructor(asientos); let idx = index">{{ "citas.asientos" | translate }} {{ idx + 1 }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let time of hoursArray">
                  <td>{{ time }}</td>
                  <ng-container *ngFor="let i of [].constructor(asientos); let idnx = index">
                    <td *ngIf="citaSartuta(time, idnx + 1)" [attr.rowspan]="rowspanManagement(time, idnx + 1)">
                      <ng-container *ngIf="getCitasAtTimeAndSeat(time, idnx + 1).length > 0; else emptySeat">
                        <ion-card *ngFor="let cita of getCitasAtTimeAndSeat(time, idnx + 1)" (click)="cargar_cita_selec(cita.id)" [ngClass]="{
                          'bg-grey-blue-light': cita.prezio_totala,
                          'bg-blue-green-light': cita.id_langilea && !cita.prezio_totala,
                          'bg-pink-light': !cita.id_langilea && !cita.prezio_totala
                        }">
                          <ion-card-header>
                            <ion-card-title>{{ cita.izena }}</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>{{ cita.deskribapena }}</ion-card-content>
                        </ion-card>
                      </ng-container>
                      <ng-template #emptySeat>
                        <ion-button (click)="seleccionar_citaCrear(idnx + 1, time)">
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </ion-button>
                      </ng-template>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <ion-segment>
            <ion-segment-button value="sortu" content-id="sortu">
              <ion-label>{{ "citas.botones.crear" | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="editatu" content-id="editatu">
              <ion-label>{{ "citas.botones.editar" | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="asignatu" content-id="asignatu">
              <ion-label>{{ "citas.botones.asignar" | translate }}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ticket" content-id="ticket">
              <ion-label>{{ "citas.botones.generar" | translate }}</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-segment-view>
            <ion-segment-content id="sortu">
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.fecha" | translate }}</ion-label>
                <ion-input [(ngModel)]="dataTest" type="date" placeholder="Fecha"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.horaInicio" | translate }}</ion-label>
                <ion-input [(ngModel)]="hasOrduaTest" type="time" placeholder="Hasiera ordua"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.horaFin" | translate }}</ion-label>
                <ion-input [(ngModel)]="amaOrduaTest" type="time" placeholder="Amaiera ordua"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.asiento" | translate }}</ion-label>
                <ion-input [(ngModel)]="eserlekuaCrear" placeholder="Asiento"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.cliente" | translate }}</ion-label>
                <ion-input [(ngModel)]="izenaCrear" placeholder="Bezeroa"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.descripcion" | translate }}</ion-label>
                <ion-input [(ngModel)]="deskCrear" placeholder="Deskribapena"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.telefono" | translate }}</ion-label>
                <ion-input [(ngModel)]="telfCrear" placeholder="Telefonoa"></ion-input>
              </ion-item>
              <ion-item>
                <ion-checkbox [(ngModel)]="etxekoCrear" >{{ "citas.modal.casa" | translate }}</ion-checkbox>
              </ion-item>
              <ion-button (click)="createCita()">{{ "citas.botones.crear" | translate }}</ion-button>
            </ion-segment-content>
            <ion-segment-content id="editatu">
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.fecha" | translate }}</ion-label>
                <ion-input [(ngModel)]="dataEditar" type="date" placeholder="Fecha"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.horaInicio" | translate }}</ion-label>
                <ion-input [(ngModel)]="hasOrduaEditar" type="time" placeholder="Hasiera ordua"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.horaFin" | translate }}</ion-label>
                <ion-input [(ngModel)]="amaOrduaEditar" type="time" placeholder="Amaiera ordua"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.asiento" | translate }}</ion-label>
                <ion-input [(ngModel)]="eserlekuaEditar" placeholder="Asiento"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.cliente" | translate }}</ion-label>
                <ion-input [(ngModel)]="izenaEditar" placeholder="Bezeroa"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.descripcion" | translate }}</ion-label>
                <ion-input [(ngModel)]="deskEditar" placeholder="Deskribapena"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.telefono" | translate }}</ion-label>
                <ion-input [(ngModel)]="telfEditar" placeholder="Telefonoa"></ion-input>
              </ion-item>
              <ion-item>
                <ion-checkbox [(ngModel)]="etxekoEditar" >{{ "citas.modal.casa" | translate }}</ion-checkbox>
              </ion-item>
              <ion-button (click)="editar_cita()">{{ "citas.botones.guardar" | translate }}</ion-button>
              <ion-button (click)="eliminar_cita()">{{ "citas.botones.borrar" | translate }}</ion-button>
            </ion-segment-content>
            <ion-segment-content id="asignatu">
              <ion-item>
                <ion-label position="stacked">{{ "citas.modal.trabajador" | translate }}</ion-label>
                <ion-select [(ngModel)]="idLangile" placeholder="Seleccione un responsable">
                  <ion-select-option *ngFor="let ikasle of langileArray" [value]="ikasle.id">{{ikasle.izena}} {{ikasle.abizena}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button (click)="asignar_cita()" >{{ "citas.botones.asignar" | translate }}</ion-button>
            </ion-segment-content>
            <ion-segment-content id="ticket">
              <ion-list *ngFor="let katTrat of tratamenduArray">
                <ion-label>{{ katTrat.izena }}</ion-label>
                <ion-item *ngFor="let trat of katTrat.zerbitzuak">
                  <ion-checkbox slot="start"  [(ngModel)]="trat.selected" (ionChange)="actualizarServiciosSeleccionados(trat)"></ion-checkbox>
                  <ion-label>{{ trat.izena }}
                    <ng-container *ngIf="!katTrat.extra">
                      <ng-container *ngIf="etxekoEditar; else kanpokoa">
                        {{ trat.etxekoPrezioa }}
                      </ng-container>
                      <ng-template #kanpokoa>
                        {{ trat.kanpokoPrezioa }}
                      </ng-template>
                    </ng-container>
                    <ng-container *ngIf="katTrat.extra">
                      <ion-input placeholder="€€€"></ion-input>
                    </ng-container>
                  </ion-label>                                  
                </ion-item>
              </ion-list>
              <ion-button>{{ "citas.botones.generar" | translate }}</ion-button>
            </ion-segment-content>
          </ion-segment-view>
        </div>
      </div>
    </ion-content>
  </div>
</ion-content>
