<app-header></app-header>
<ion-content class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'informes.title' | translate }}</ion-title>
      <ion-select slot="end" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="eu">Euskera</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
  <!-- Bloque que contiene la lista -->
  <div class="list-block">
    <ion-list>
      <ion-item *ngFor="let txostena of txostenak; let i = index">
        <ion-avatar slot="start">
          <img [src]="txostena.image" alt="Foto random" />
        </ion-avatar>

        <ion-label>
          {{ txostena.name }}
          <small>T{{ i + 1 }}</small> <!-- Índice dinámico -->
        </ion-label>

        <!-- Botón dinámico con color aleatorio -->
        <ion-button slot="end" [color]="txostena.buttonColor">
          Txostena ikusita
        </ion-button>

        <!-- Badge con el número aleatorio -->
        <ion-badge slot="end" color="danger">
          {{ txostena.number }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
