<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ikasleen Gestionamendua</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="main-content">
  <app-header titulua="Ikasleen Gestionamendua"></app-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Ikasleak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button id="prod-sortu-modal">Sortu Ikaslea</ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button id="atera-modal">Kendu Ikaslea</ion-button>
  </ion-buttons>
</ion-toolbar>  