<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ikasleen Gestionamendua</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="main-content">
  <app-header titulua="Ikasleen Gestionamendua"></app-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ikasleak</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="prod-sortu-modal">Sortu Ikaslea</ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button id="prod-gestionatu-modal">Sortu Taldea</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="crear-grupo">Taldeak bistaratu</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="atera-modal">Kendu Ikaslea</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let ikaslea of filteredAlumnos">
        <ion-label>
          <h2>{{ ikaslea.izena }} {{ ikaslea.abizenak }}</h2>
          <p>Taldea: {{ ikaslea.taldea.izena }}</p>
          <p>Kodea: {{ ikaslea.taldea.kodea }}</p>
          <p>Fecha de creación: {{ ikaslea.sortzeData }}</p>
        </ion-label>
        <ion-button (click)="openEditModal(ikaslea)">Edit</ion-button>
      </ion-item>
    </ion-list>
    
  </ion-content>
  

  <ion-modal [isOpen]="isEditModalOpen" (ionModalDidDismiss)="closeEditModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Ikaslea</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Izena</ion-label>
          <ion-input
            [(ngModel)]="selectedAlumno.izena"
            placeholder="Sartu izen berria"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Abizenak</ion-label>
          <ion-input
            [(ngModel)]="selectedAlumno.abizenak"
            placeholder="Sartu abizen berriak"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kodea</ion-label>
          <ion-select
            [(ngModel)]="selectedAlumno.taldea.kodea"
            placeholder="Erabaki kode berri bat"
          >
            <ion-select-option
              *ngFor="let kodea of kodeak"
              [value]="kodea.kodea"
              >{{ kodea.kodea }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="updateAlumno()"
          >Guardar Cambios</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="prod-sortu-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ikaslea Sortu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Izena</ion-label>
          <ion-input
            [(ngModel)]="nuevoAlumno.izena"
            placeholder="Izena"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Abizenak</ion-label>
          <ion-input
            [(ngModel)]="nuevoAlumno.abizenak"
            placeholder="Abizenak"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kodea</ion-label>
          <ion-select
            [(ngModel)]="nuevoAlumno.taldea.izena"
            placeholder="Selecciona un código"
          >
            <ion-select-option
              *ngFor="let kodea of kodeak"
              [value]="kodea.izena"
              >{{ kodea.kodea }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="agregarAlumno()"
          >Sortu Ikaslea</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="atera-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- Botón de Ezabatu en la esquina superior derecha -->
          <ion-buttons slot="end">
            <ion-button (click)="eliminarAlumnos()">Ezabatu</ion-button>
          </ion-buttons>
          <ion-title>Ikaslea Ezabatu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Barra de búsqueda para filtrar alumnos -->
        <ion-item>
          <ion-label position="stacked">Bilatu Ikaslea</ion-label>
          <ion-searchbar
            [(ngModel)]="searchQuery"
            (ionInput)="filterAlumnos()"
            debounce="0"
            placeholder="Bilatu izenaren arabera"
          ></ion-searchbar>
        </ion-item>

        <!-- Lista de alumnos con casillas de verificación para seleccionar varios -->
        <ion-item *ngFor="let alumno of filteredAlumnos">
          <ion-label>{{ alumno.izena }} {{ alumno.abizenak }} ({{ alumno.taldea.kodea}})</ion-label>

          <ion-checkbox>
            (ionChange)="onAlumnoSelected(alumno.id ?? 0)"
            <!-- Si es undefined, pasa un valor por defecto -->
            [checked]="selectedIkasleak.has(alumno.id ?? 0)">
          </ion-checkbox>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="prod-gestionatu-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Sortu Taldea</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Campo para el nombre del grupo -->
        <ion-item>
          <ion-label position="stacked">Taldearen Izena</ion-label>
          <ion-input [(ngModel)]="nuevoGrupo.izena"placeholder="Taldearen izena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Taldearen Kodea</ion-label>
          <ion-input
            [(ngModel)]="nuevoGrupo.kodea"
            placeholder="Taldearen izena"
          ></ion-input>
        </ion-item>
        <!-- Botón para crear el grupo -->
        <ion-button expand="full" (click)="agregarGrupo()"
          >Sortu Taldea</ion-button
        >
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="crear-grupo">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Taldeak eta Ikasleak</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let grupo of gruposDisponibles">
            <ion-label>
              <h2>{{ grupo.izena }}</h2>
              <p>Ikasleak:</p>
              <ion-list>
                <ion-item
                  *ngFor="let ikaslea of getAlumnosPorKodea(grupo.kodea)">
                  <ion-label
                    >{{ ikaslea.izena }} {{ ikaslea.abizenak }} ({{
                    ikaslea.taldea.kodea }})</ion-label>
                </ion-item>
              </ion-list>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
