:host {
  ion-content {
    --background: #b6f3f9;
  }

  #background-content {
    background-color: #b6f3f9 !important;
  }
}

.custom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 350px;
    height: auto;
    background-color: #fff;
    border-radius: 10%;
  }
  
  .login-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    margin-top: 15px;
    --background: #88E4E8;
    color: #000;
    border-radius: 5px;
  }

  .logo{
    padding: 50px;
    background-color: white;
    border-radius: 10%;
  }

  ion-content{
    --background: #E4FEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  