<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-content class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Produktuak</ion-title>
      </ion-toolbar>
    </ion-header>

<!-- <div class="ion-page" id="main-content"> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="prod-sortu-modal">Agregar Producto</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="atera-modal">Sacar Productos</ion-button>
    </ion-buttons>
  </ion-toolbar>  

  <!-- Sección de Electrónica -->
  <ng-container *ngFor="let categoria of produktuak">
    <!-- Categoría -->
    <ion-item button (click)="toggleCategoria(categoria.izena)">
      <ion-label>{{ categoria.izena }}</ion-label>
      <ion-icon [name]="isCategoriaAbierta(categoria.izena) ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
    </ion-item>
  
    <!-- Lista de productos dentro de la categoría -->
    <ion-list *ngIf="isCategoriaAbierta(categoria.izena)">
      <ion-item *ngFor="let producto of categoria.produktuak">
        <ion-label> {{ producto.izena }} - Stock: {{ producto.stock }} </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="producto.selected" (ionChange)="actualizarProductosSeleccionados(producto)"></ion-checkbox>
        <ion-button slot="end" (click)="editarProducto(producto)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="eliminarProducto(producto)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>
  
  <!-- Modal para sacar productos -->
  <ion-modal trigger="atera-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Sacar Productos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-select label="Alumno" placeholder="Selecciona a un alumno">
            <ion-select-option *ngFor="let item of alumnos" >{{item.grupo}} : {{item.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="confirmarSacarProductos()">Confirmar</ion-button>
        <ion-list>
          <ion-item *ngFor="let prod of productosSeleccionados">
            <ion-label> {{prod.izena}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template> 
  </ion-modal>
  
  <ion-modal trigger="prod-sortu-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Productos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Izena</ion-label>
          <ion-input placeholder="Izena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Deskribapena</ion-label>
          <ion-input placeholder="Deskribapena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Kategoria" placeholder="Selecciona una kategoria">
            <ion-select-option>Electronica</ion-select-option>
            <ion-select-option>Ropa</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Marka</ion-label>
          <ion-input placeholder="Marka"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Stock</ion-label>
          <ion-input type="number" placeholder="Stock"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Stock Alerta</ion-label>
          <ion-input type="number" placeholder="Stock alerta"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="confirmarSacarProductos()">Crear</ion-button>
      </ion-content>
    </ng-template> 
  </ion-modal>
</ion-content>