<app-header></app-header>
<ion-content class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'productos.title' | translate }}</ion-title>
      <ion-select slot="end" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="eu">Euskera</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="cat-prod-sortu-modal">{{ 'productos.botones.crearCategoria' | translate }}</ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button id="prod-sortu-modal">{{ 'productos.botones.agregarProducto' | translate }}</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="atera-modal">{{ 'productos.botones.sacarProductos' | translate }}</ion-button>
      </ion-buttons>
      <ion-buttons slot="end"> 
        <ion-button id="bottom-center">
          <ion-icon name="cart" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-popover trigger="bottom-center" side="bottom" alignment="center">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-list *ngIf="productosSeleccionados && productosSeleccionados.length > 0">
            <ion-item *ngFor="let producto of productosSeleccionados">
              <ion-label>
                <h2>{{ producto.izena }}</h2>
                <ion-input type="number" [(ngModel)]="producto.kantitatea" placeholder="Cantidad"></ion-input>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-label *ngIf="productosSeleccionados.length === 0">
            {{ 'productos.modal.vacio' | translate }}
          </ion-label>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ng-container *ngFor="let categoria of produktuak">
      <!-- Categoría -->
      <ion-card>
      <ion-item button (click)="toggleCategoria(categoria.izena)" detail="false">
        <ion-label><strong>{{ categoria.izena }}</strong></ion-label>
        <ion-button slot="end" (click)="openKatModal(categoria); $event.stopPropagation()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button slot="end" color="danger" (click)="eliminarKategoriaProducto(categoria.id); $event.stopPropagation()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-icon [name]="isCategoriaAbierta(categoria.izena) ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
      </ion-item>

      <!-- Lista de productos dentro de la categoría -->
      <ion-list *ngIf="isCategoriaAbierta(categoria.izena)">
        <ion-item *ngFor="let producto of categoria.produktuak">
          <ion-label> {{ producto.izena }}</ion-label>
          <ion-label> Stock: {{ producto.stock }} </ion-label>
          <ion-label class="deskribapena"> {{ producto.deskribapena }}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="producto.selected"
            (ionChange)="actualizarProductosSeleccionados(producto, categoria.id)"></ion-checkbox>
            <ion-button color="light" slot="end" (click)="openProdModal(producto, categoria.id)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          <ion-button slot="end" color="danger" (click)="eliminarProducto(producto.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      </ion-card>
    </ng-container>

    <!-- Modal para sacar productos -->
    <ion-modal #prodAteraModal trigger="atera-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.sacarProductos' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-select [(ngModel)]="selecTaldea" label="Taldea" placeholder="Selecciona a un grupo"
              (ionChange)="onGrupoChange()">
              <ion-select-option *ngFor="let taldea of alumnos" [value]="taldea.kodea">
                {{ taldea.kodea }} : {{ taldea.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="selecAlumno" label="Alumno" placeholder="Selecciona a un alumno">
              <ion-select-option *ngFor="let alumno of filteredAlumnos" [value]="alumno.id">
                {{ alumno.id }} : {{ alumno.izena }}
              </ion-select-option>
            </ion-select>
          </ion-item>
             <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="block" color="success" (click)="sacarProductos()"
                    (click)="prodAteraModal.dismiss()">
                    <ion-icon name="checkmark"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button expand="block" color="danger" (click)="prodAteraModal.dismiss()">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          <ion-list>
            <ion-item *ngFor="let prod of productosSeleccionados">
              <ion-item>
                <ion-label position="stacked">{{prod.izena}} </ion-label>
                <ion-input type="number" [(ngModel)]="prod.kantitatea" placeholder="Cantidad"></ion-input>
              </ion-item>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modalSortu trigger="prod-sortu-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.crearProductos' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearNombre" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.descripcion' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearDescripcion" placeholder="Deskribapena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="crearCategoria" label="Kategoria" placeholder="Selecciona una kategoria">
              <ion-select-option *ngFor="let cat of produktuak" [value]="cat.id">{{cat.izena}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.marca' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearMarca" placeholder="Marka"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.stock' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearStock" type="number" placeholder="Stock"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.stockAlerta' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearStockAlerta" type="number" placeholder="Stock alerta"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="crearProducto()"
                  (click)="modalSortu.dismiss()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="modalSortu.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #prodeditarmod [isOpen]="isEditingProduct" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.editarProductos' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingProduct.izena" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.descripcion' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingProduct.deskribapena" placeholder="Deskribapena"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="editingProduct.idKategoria" label="Kategoria" placeholder="Selecciona una kategoria">
              <ion-select-option *ngFor="let cat of produktuak" [value]="cat.id">{{cat.izena}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.marca' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingProduct.marka" placeholder="Marka"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.stock' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingProduct.stock" type="number" placeholder="Stock"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.stockAlerta' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingProduct.stockAlerta" type="number" placeholder="Stock alerta"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="editarProducto()"
                  (click)="prodeditarmod.dismiss()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="prodeditarmod.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modaleditarcat [isOpen]="isEditingKategoria" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.editarCategoria' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="editingKategoria.izena" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="editarKategoriaProducto()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="closeKatModal()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #catprodsormodal trigger="cat-prod-sortu-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ 'productos.botones.crearCategoria' | translate }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-label position="stacked">{{ 'productos.modal.nombre' | translate }}</ion-label>
            <ion-input [(ngModel)]="crearKatNombre" placeholder="Izena"></ion-input>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="kategoriaSortu()"
                  (click)="catprodsormodal.dismiss()">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="catprodsormodal.dismiss()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>